name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: Akki-8989/Infrastructure/.github/workflows/deploy-template.yml@main
    with:
      repo_name: another-repo
      infra_repo: Infrastructure
    secrets: inherit
